*{
    background-color: rgb(117, 136, 242);
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html{
    margin: 1%;
}

#logo{
    margin-left: 2%;
    width: 150.000px;
    max-width: 100%;
}

h1{
   position: relative;
   font-size: 5rem;
   font-weight: 700;
   text-align: center;
   margin: 2rem 0;
   top: 3px;
   right: 50px;
   text-shadow: 2px 2px 2px 2px;
    text-shadow: black;
   color: white;
   
}


.carousel.img{
    height: 350px;
    object-position: cover;

}

@media only screen and (min-width: 600px)
{ nav { display: flex;
    padding: 0;
    margin: 0;
    

}

    
}
